/* media query for mobile */

@media screen and (min-width: 320px) and (max-width: 769px) {
  body {
    font-family: "Raleway", sans-serif;
  }
  .headerContainer .nav {
    display: none;
  }

  .headerContainer {
    position: relative;
  }

  #toggle {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  /* #toggle.active {
    background-color: black;}*/

  #toggle::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: rgb(179, 178, 178);
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 0px 10px 0 #a45757;

    /*box-shadow: rgb(58, 58, 58); revisar */
  }

  #toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    background-color: rgb(179, 178, 178);
  }

  #toggle::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: rgb(179, 178, 178);
    transition: 0.3s;
    transform: translateY(10px);
  }

  #toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  .hidden {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .navToggle {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Modifica el valor del ancho según tus necesidades */
    max-width: 400px; /* Modifica el valor del ancho máximo según tus necesidades */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9997;
    text-transform: uppercase;
  }

  .navToggle ul {
    text-transform: uppercase;
    margin-bottom: 50px;
    margin: 0 auto;
  }

  .navToggle ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    padding: 1rem;
    margin-bottom: 100px;
    z-index: 10000;
  }

  /****** Main *************/

  .main {
    display: block;
    width: 100%;
  }

  .slider {
    padding: 1rem;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .arrow {
    cursor: pointer;
    font-size: 30px;
    color: rgba(109, 107, 107, 0.158);
  }

  .arrow:hover {
    color: rgb(64, 64, 63);
  }

  .container_slider {
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    padding: 1rem;
  }

  .subtitle {
    position: relative;
    display: block;
    width: 150px;
    margin-bottom: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 1rem;
    font-size: 400;
    animation: typing 4s steps(40, end);
    background-color: rgb(223, 221, 221);
  }

  .subtitle::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px; /* Ajusta el ancho de la barra lateral */
    height: 100%;
    background-color: #000;
    animation: blink 1s infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 150px;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .slider_body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: "Raleway", sans-serif;
  }

  .slider_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 1rem;
    line-height: 1.5;
  }

  .slider_body--show {
    opacity: 1;
  }

  .slider_picture {
    margin-bottom: 10px;
  }

  .backgraund {
    background-color: whitesmoke;
  }

  .slider_img {
    width: 200px;
    height: 200px;
  }

  .informacionFormacion {
    position: relative;
    display: block;
    width: 90%;
    height: auto;
    padding: 1rem;
    margin-bottom: 30px;
    background-color: rgba(255, 228, 196, 0.527);
  }

  .arrow_before,
  .arrow_next {
    grid-column: 1 / 2;
  }

  .skilsSections {
    width: 100%;
    background-color: #fab1a0;
  }

  .skilsSections::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 1px;
    border: 1px dashed #ff7675;
    border-spacing: 10px;
  }

  .cv {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #fab1a0;
    margin: 0 auto;
    color: rgb(127, 127, 127);
    cursor: pointer;
  }

  /* Skils Sections */

  .skills-section {
    text-align: center;
    margin-top: 20px;
  }

  .skills-section h2 {
    color: rgb(220, 155, 155);
    margin: 15px 0;
    font-family: pacifico;
    font-size: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    margin-top: 30px;
    background-color: rgb(220, 155, 155);
  }

  .grid-item {
    width: 90%;
    margin: 5px auto;
    border-radius: 10px;
    padding: 1rem;
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    color: rgb(12, 12, 12);
  }

  .grid-item i {
    font-size: 100px;
    color: rgb(251, 251, 250);
  }

  .grid-item h3 {
    margin-bottom: 20px;
  }

  .grid-item p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
  }

  /* Contact */

  .contact {
    margin-bottom: 30px;
  }

  .contact h2 {
    display: block;
    width: auto;
    padding: 1rem;
    text-align: center;
    font-family: "Ibarra Real Nova";
  }
  .contenedor-contact {
    display: flex;
    justify-content: center;
    align-content: space-around;
    width: 90%;
    margin: 0 auto;
  }

  .contenedor-contact a i {
    padding: 1rem;
    font-size: 30px;
    margin: 0 20px;
    text-decoration: none;
    color: #f89e8a;
  }

  .contenedor-contact a :hover {
    color: #000;
  }

  /* footer */

  .footer {
    width: 100%;
    padding: 5px;
  }

  .footer p {
    width: 100%;
    padding-inline: 10px;
    text-align: center;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* mi repositorio */

  .elementsRepository h2 {
    font-family: pacifico;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: rgb(220, 155, 155);
  }

  .repositoryText_grid {
    display: block;
    text-align: justify;
    padding: 1rem;
    margin-top: 15px;
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 400;
  }

  #repo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
  }

  #repo-name {
    font-size: 20px;
    font-family: "Ibarra Real Nova";
    margin-top: 0;
    color: whitesmoke;
  }

  #repo-description {
    font-size: 16px;
    color: #888;
  }

  #repo-link {
    display: inline-block;
    color: #666464;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
  }

  #repo-link:hover {
    background-color: #233625;
  }

  #repo-image {
    max-width: 100%;
    height: auto;
  }

  .grid-item p {
    text-align: justify;
  }

  .repositoryText_grid p {
    text-align: center;
  }
}

/* Media query for table devices */
@media screen and (min-width: 770px) and (max-width: 1024px) {
  .headerContainer .nav {
    display: none;
  }

  .headerContainer {
    position: relative;
  }

  #toggle {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #37a6ff;*/
    z-index: 9999;
  }

  /* #toggle.active {
    background-color: black;}*/

  #toggle::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: rgb(179, 178, 178);
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 0px 10px 0 #a45757;

    /*box-shadow: rgb(58, 58, 58); revisar */
  }

  #toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    background-color: rgb(179, 178, 178);
  }

  #toggle::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: rgb(179, 178, 178);
    transition: 0.3s;
    transform: translateY(10px);
  }

  #toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  .hidden {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .navToggle {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Modifica el valor del ancho según tus necesidades */
    max-width: 400px; /* Modifica el valor del ancho máximo según tus necesidades */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9997;
    text-transform: uppercase;
  }

  .navToggle ul {
    text-transform: uppercase;
    margin-bottom: 50px;
    margin: 0 auto;
  }

  .navToggle ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    padding: 1rem;
    margin-bottom: 100px;
  }

  /* Main */

  .main {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .slider {
    padding: 1rem;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .arrow {
    cursor: pointer;
  }

  .container_slider {
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    padding: 1rem;
  }

  .slider_body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .slider_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 1rem;
    line-height: 1.5;
  }

  .subtitle {
    position: relative;
    display: block;
    width: 150px;
    margin-bottom: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 1rem;
    font-size: 400;
    animation: typing 4s steps(40, end);
    background-color: rgb(223, 221, 221);
  }

  .subtitle::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px; /* Ajusta el ancho de la barra lateral */
    height: 100%;
    background-color: #000;
    animation: blink 1s infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 150px;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .slider_body--show {
    opacity: 1;
  }

  .slider_picture {
    margin-bottom: 10px;
  }

  .slider_img {
    width: 200px;
    height: 200px;
  }

  .arrow_before,
  .arrow_next {
    grid-column: 1 / 2;
  }

  .arrow {
    cursor: pointer;
    font-size: 30px;
    color: rgba(109, 107, 107, 0.158);
  }

  .arrow:hover {
    color: rgb(64, 64, 63);
  }

  .cv {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #fab1a0;
    margin: 0 auto;
    color: rgb(127, 127, 127);
    cursor: pointer;
  }

  /* skils */

  .skills-section {
    text-align: center;
    margin-top: 20px;
  }

  .skills-section h2 {
    color: rgb(220, 155, 155);
    margin: 15px 0;
    font-family: pacifico;
    font-size: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    margin-top: 30px;
    background-color: rgb(220, 155, 155);
  }

  .grid-item {
    width: 90%;
    margin: 5px auto;
    border-radius: 10px;
    padding: 1rem;
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    color: rgb(12, 12, 12);
  }

  .grid-item i {
    font-size: 100px;
    color: rgb(251, 251, 250);
  }

  .grid-item h3 {
    margin-bottom: 20px;
  }

  .grid-item p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
  }

  .contact {
    margin-bottom: 30px;
  }

  .contact h2 {
    display: block;
    width: auto;
    padding: 1rem;
    text-align: center;
    font-family: "Ibarra Real Nova";
  }
  .contenedor-contact {
    display: flex;
    justify-content: center;
    align-content: space-around;
    width: 90%;
    margin: 0 auto;
  }

  .contenedor-contact a i {
    padding: 1rem;
    font-size: 30px;
    margin: 0 20px;
    text-decoration: none;
    color: #f89e8a;
  }

  .contenedor-contact a :hover {
    color: #000;
  }

  /* footer */

  .footer {
    width: 100%;
    padding: 5px;
  }

  .footer p {
    width: 100%;
    padding-inline: 10px;
    text-align: center;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .elementsRepository h2 {
    font-family: pacifico;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: rgb(220, 155, 155);
  }

  .repositoryText_grid {
    display: block;
    text-align: center;
    padding: 1rem;
    margin-top: 15px;
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 400;
  }

  #repo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
  }

  #repo-name {
    font-size: 20px;
    font-family: "Ibarra Real Nova";
    margin-top: 0;
    color: whitesmoke;
  }

  #repo-description {
    font-size: 16px;
    color: #888;
  }

  #repo-link {
    display: inline-block;
    color: #666464;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
  }

  #repo-link:hover {
    background-color: #233625;
  }

  #repo-image {
    max-width: 100%;
    height: auto;
  }
}
